body {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    position: absolute;
    justify-content: center;
}

.logotype {
    width: 177px;
    height: 177px;
}

#projects {
    max-width: 1080px;gia
}

.media-logotype {
    width: 20px;
} 

.media-logotype #linkdin{
    height: 20px;
}
