@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Roboto+Slab&display=swap');

:root {
    font-family: 'Roboto Mono';
    scroll-behavior: smooth;
}

body {
    max-width: 980px;
    margin: auto;
    background-color: dimgray;
    color: white;
}

header nav .menu {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-around;
}

header nav .menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border: 1px solid transparent;
    padding: 5px;
}

header nav .menu a:hover {
    border: 1px solid white;
}

header nav img {
    display: flex;
    width: 3rem;
    height: 3rem;
}

header  nav .navigation {
    visibility: hidden;
}

header .banner {
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    min-height: 450px;
    max-height: 840px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header p img {
    width: 200px;
    height: 200px;
    align-content: left;
}
#quote {
    align-self: flex-end;
    font-size: 1rem;
    margin: 0 3rem 0 0;

}

button {
    border-radius: 0.3rem;
    background-color: #F5F5F5;
    padding: 5px 10px 8px 10px;
    margin: 3rem;=;
  }
  button:hover {
    animation-name: button-learn;
    animation-duration: 750ms;
    animation-fill-mode: forwards;
  }

  @keyframes button button-learn {
    0% {
    background-color: #F5F5F5;
    }
    100% {
      background-color: #9e9e9e;
    }
  }
header div p {
    display: flex;
    align-self: center;
    margin-top: 10rem; 
}

header .banner p img {
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 600px) {
    header  nav #burger-icon {
    visibility: hidden;
}
   header nav .navigation {
       visibility: visible;
   }

   header p img{
       transform: scale(1.5);
   }

   header .banner h1 {
       font-family: 144px;
   }
}

/* What Do */
.what__do__logo {
    width: 80px;
}

.what__do__inner {
    display: flex;
    justify-content: space-around;
}

.what__do__title {
    text-align: center;
}

/* Projects */
.projects__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects__title {
    text-align: center;
}

/* Mesage Form */
.message__form {
    text-align: center;
}

.message__title {
    text-align: center;
}

.media-logotype {
    display: block;
    max-width: 33.33333333%;
}